python-dotenv==0.19.2
version_parser==1.0.1
hurry.filesize==0.9
scandir==1.10.0
grpcio-tools==1.47.0
# py3exiv2==0.9.3
packaging==21.3
version-parser==1.0.1
supervisely==6.50.1
docker==5.0.3
black
python-slugify==6.1.2