name: build-push-release

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: gha-runner-supervisely

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - name: Echo ${{ github.event.release.tag_name }}
        run: echo ${{ github.event.release.tag_name }}

      - name: Write version to ENV variable
        run: |
          TAG_NAME=${{ github.event.release.tag_name }}
          echo "LABEL_VERSION=${TAG_NAME:1}" >> $GITHUB_ENV

      - name: Get Docker Labels from python script
        run: python .github/workflows/docker_labels.py

      - name: Build and push
        run: |
          buildctl build \
            --frontend dockerfile.v0 \
            --local context=. \
            --local dockerfile=. \
            --output type=image,name=supervisely/agent:${{ env.LABEL_VERSION }},push=true \
            --opt provenance=false \
            --opt build-arg=LABEL_VERSION=agent:${{ env.LABEL_VERSION }} \
            --opt build-arg=LABEL_INFO=${{ env.LABEL_INFO }} \
            --opt build-arg=LABEL_MODES=${{ env.LABEL_MODES }} \
            --opt build-arg=LABEL_README=${{ env.LABEL_README }} \
            --opt build-arg=LABEL_BUILT_AT=${{ env.LABEL_BUILT_AT }} \
            --import-cache type=registry,ref=supervisely/agent:cache \
            --export-cache type=registry,ref=supervisely/agent:cache,mode=max

  app-release:
    needs: build
    permissions:
      contents: write
      actions: write
    uses: supervisely/agent/.github/workflows/app-release.yml@master
    secrets:
      SUPERVISELY_DEV_API_TOKEN: "${{ secrets.SUPERVISELY_DEV_API_TOKEN }}"
      SUPERVISELY_PRIVATE_DEV_API_TOKEN: "${{ secrets.SUPERVISELY_PRIVATE_DEV_API_TOKEN }}"
      SUPERVISELY_PROD_API_TOKEN: "${{ secrets.SUPERVISELY_PROD_API_TOKEN }}"
      GH_ACCESS_TOKEN: "${{ secrets.SUPERVISELY_GITHUB_ACCESS_TOKEN }}"
    with:
      SUPERVISELY_SERVER_ADDRESS: "${{ vars.SUPERVISELY_DEV_SERVER_ADDRESS }}"
      SUPERVISELY_PROD_SERVER_ADDRESS: "${{ vars.SUPERVISELY_PROD_SERVER_ADDRESS }}"
      RELEASE_VERSION: "${{ github.event.release.tag_name }}"
      RELEASE_DESCRIPTION: "${{ github.event.release.name }}"
