name: build-push-dev

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: gha-runner-supervisely

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - name: Write Tag to ENV variable
        run: echo "BRANCH_NAME=${{ github.event.release.tag_name }}" >> $GITHUB_ENV

      - name: Get Docker Labels from python script
        run: python .github/workflows/docker_labels.py

      - name: Build and push
        run: |
          buildctl build \
            --frontend dockerfile.v0 \
            --local context=. \
            --local dockerfile=. \
            --output type=image,name=supervisely/agent:dev,push=true \
            --opt provenance=false \
            --opt build-arg=LABEL_VERSION=6.999.0 \
            --opt build-arg=LABEL_INFO=${{ env.LABEL_INFO }} \
            --opt build-arg=LABEL_MODES=${{ env.LABEL_MODES }} \
            --opt build-arg=LABEL_README=${{ env.LABEL_README }} \
            --opt build-arg=LABEL_BUILT_AT=${{ env.LABEL_BUILT_AT }} \
            --import-cache type=registry,ref=supervisely/agent:dev-cache \
            --export-cache type=registry,ref=supervisely/agent:dev-cache,mode=max
